.everyday{
			    margin:0 auto;
			    width:1000px;
				height:42px;
				border-bottom:2px solid #f62648;
				padding:30px 0px 10px 0px;
			}
			.everydayp{
			    width:118px;
				height:40px;
			    background:url("../images/2.png") 0 -24px;
				margin-right:20px;
				float:left;
			}
			.everyday p{
			    width:100px;
				height:22px;
				font-size: 18px;
                color: #999;
				font-weight:400;
				margin-top:20px;
				float:left;
			}
			.everyday p b{
			    color:red;
				font-size:18px;
				font-weight:800;
			}
			.daycon{
			    margin: 0 auto;
				width:1000px;
				height:721px;
				background:#fff;
			}
			    .dconone{
				    width:500px;
					height:300px;
					border-right:1px solid #e3e3e3;
					border-bottom:1px solid #e3e3e3;
					float:left;
					position:relative;
				}
				    .dconone i{
						width:46px;
						height:59px;
						background:url("../images/2.png") -137px -243px;
						position:absolute;
						left: 20px;
                        top: 25px;
					}
					.dconone h4{
						width:260px;
						height:47px;
						color:#666;
						font-size:18px;
						font-weight:400;
						margin-left:20px;
						margin-top:140px;
					}
					.dconone a h4 b{
						color:red;
					}
					.dconone span{
						display:block;
						width:200px;
						height:26px;
						margin-left:20px;
					}
					.dconone span strong{
						font-size:26px;
						font-weight:400;
						color:#666;
					}
					.dconone span b{
						text-decoration: line-through;
						font-size:15px;
						color:#999;
					}
					.dconone img{
						width:202px;
						height:205px;
						position: absolute;
                        right: 20px;
                        top: 20px;
					}
					#evone{
						margin-left:20px;
			        }
					.dconone:hover div[class="cart"]{
						display:block;
					}
					.dconone:hover img {
							opacity: 0.2;
					}
				.dcontwo{
				    width:499px;
					height:300px;
					border-bottom:1px solid #e3e3e3;
					position:relative;
					float:left;
				}
				.dcontwo i{
						width:46px;
						height:59px;
						background:url("../images/2.png") -183px -243px;
						position:absolute;
						left: 20px;
                        top: 25px;
					}
					.dcontwo h4{
						width:260px;
						height:47px;
						color:#666;
						font-size:18px;
						font-weight:400;
						margin-left:20px;
						margin-top:140px;
					}
					.dcontwo a h4 b{
						color:red;
					}
					.dcontwo span{
						display:block;
						width:200px;
						height:26px;
						margin-left:20px;
					}
					.dcontwo span strong{
						font-size:26px;
						font-weight:400;
						color:#666;
					}
					.dcontwo span b{
						text-decoration: line-through;
						font-size:15px;
						color:#999;
					}
					.dcontwo img{
						width:202px;
						height:205px;
						position: absolute;
                        right: 20px;
                        top: 20px;
					}
					#evtwo{
						margin-left:20px;
			        }
					.dcontwo:hover div[class="cart"]{
						display:block;
					}
					.dcontwo:hover img {
							opacity: 0.2;
					}
				.dconthree{
				    width:332px;
					height:421px;
					border-right:1px solid #e3e3e3;
					position:relative;
					float:left;
				}
				.dconthree i{
						width:46px;
						height:59px;
						background:url("../images/2.png") -137px -302px;
						position:absolute;
						left: 20px;
                        top: 25px;
					}
					.dconthree h4{
						width:260px;
						height:47px;
						color:#666;
						font-size:18px;
						font-weight:400;
						margin-left:20px;
					}
					.dconthree a h4 b{
						color:red;
					}
					.dconthree span{
						display:block;
						width:200px;
						height:26px;
						margin-left:20px;
					}
					.dconthree span strong{
						font-size:26px;
						font-weight:400;
						color:#666;
					}
					.dconthree span b{
						text-decoration: line-through;
						font-size:15px;
						color:#999;
					}
					.dconthree img{
						width:202px;
						height:255px;
						margin:20px 65.5px 20px 65.5px;
					}
					#evthree{
						position:absolute;
						right:20px;
						bottom:50px;
			        }
					.dconthree:hover div[class="cart"]{
						display:block;
					}
					.dconthree:hover img {
							opacity: 0.2;
					}
				.dconfour{
				    width:332px;
					height:421px;
					border-right:1px solid #e3e3e3;
					position:relative;
					float:left;
				}
				.dconfour i{
						width:46px;
						height:59px;
						background:url("../images/2.png") -183px -302px;
						position:absolute;
						left: 20px;
                        top: 25px;
					}
					.dconfour h4{
						width:260px;
						height:47px;
						color:#666;
						font-size:18px;
						font-weight:400;
						margin-left:20px;
					}
					.dconfour a h4 b{
						color:red;
					}
					.dconfour span{
						display:block;
						width:200px;
						height:26px;
						margin-left:20px;
					}
					.dconfour span strong{
						font-size:26px;
						font-weight:400;
						color:#666;
					}
					.dconfour span b{
						text-decoration: line-through;
						font-size:15px;
						color:#999;
					}
					.dconfour img{
						width:202px;
						height:255px;
						margin:20px 65.5px 20px 65.5px;
					}
					#evfour{
						position:absolute;
						right:20px;
						bottom:50px;
			        }
					.dconfour:hover div[class="cart"]{
						display:block;
					}
					.dconfour:hover img {
							opacity: 0.2;
					}
				.dconfive{
				    width:332px;
					height:421px;
					position:relative;
					float:left;
				}
				.dconfive i{
						width:46px;
						height:59px;
						background:url("../images/2.png") -137px -361px;
						position:absolute;
						left: 20px;
                        top: 25px;
					}
					.dconfive h4{
						width:260px;
						height:47px;
						color:#666;
						font-size:18px;
						font-weight:400;
						margin-left:20px;
					}
					.dconfive a h4 b{
						color:red;
					}
					.dconfive span{
						display:block;
						width:200px;
						height:26px;
						margin-left:20px;
					}
					.dconfive span strong{
						font-size:26px;
						font-weight:400;
						color:#666;
					}
					.dconfive span b{
						text-decoration: line-through;
						font-size:15px;
						color:#999;
					}
					.dconfive img{
						width:202px;
						height:255px;
						margin:20px 65.5px 20px 65.5px;
					}
					#evfive{
						position:absolute;
						right:20px;
						bottom:50px;
			        }
					.dconfive:hover div[class="cart"]{
						display:block;
					}
					.dconfive:hover img {
							opacity: 0.2;
					}