.app{
                width:1423px;
                height:304px;
                border-top:1px solid #f66b83;
                background:url("../images/app.jpg") no-repeat center #f62648;;
            }
			.footer{
			    width:1423px;
				height:602px;
				background:#fff;
			}
			    .footera{
				    margin:0 auto;
					width:1000px;
					height:139px;
					border-bottom:1px dotted #c1c1c1;
					
				}
				    .fta{
					    width:215px;
						height:79px;
						background:url("../images/1.png") 0 -198px;
						margin:30px 0px 0px 107px;
						float:left;
					}
					.ftb{
					    width:215px;
						height:79px;
						background:url("../images/1.png") 0 -278px;
						margin:30px 0px 0px 107px;
						float:left;
					}
					.ftc{
					    width:215px;
						height:79px;
						background:url("../images/1.png") 0 -359px;
						margin:30px 0px 0px 107px;
						float:left;
					}
				.footerb{
				    margin:0 auto;
				    width:1000px;
					height:250px;
					border-bottom:1px dotted #c1c1c1;
				}
				    .ftba{
					    width:216px;
						height:138px;
						padding:30px 30px 0 0;
						float:left;
					}
					    .ftbap{
						    width:174px;
							height:112px;
							margin-top:10px;
							background:url("../images/3.png") -315px -259px;
						}
						.ftba em{
						    width:216px;
							height:16px;
							text-indent:8px;
						    display:block;
						    font-style:normal;
							font-weight:500;
							color:#666;
							font-size:12px;
						}
					.ftbb,.ftbc,.ftbe{
					    width:144px;
						height:188px;
						margin-top:53px;
						float:left;
					}
					.ftbd{
					    width:164px;
						height:188px;
						margin-top:53px;
						float:left;
					}
					.ftbf{
					    width:90px;
						height:188px;
						margin-top:53px;
						float:left;
						margin-left:55px;
					}
					.lione{
					    width:80px;
						height:21px;
						color:#666;
						font-size: 16px;
						line-height: 21px;
                        font-weight: 400;
						margin-bottom:28px;
					}
					.lionewx{
					    width:80px;
						height:21px;
						color:#666;
						font-size: 16px;
						line-height: 21px;
                        font-weight: 400;
						margin-bottom:28px;
					}
					.lione~li{
					    width:84px;
						height:22px;
						color:#666;
						font-size:12px;
						line-height:22px;
						font-weight:400;
					}
					.fweixin{
					    width:77px;
						height:77px;
						border:1px solid #ccc;
						padding:4px;
						background:url("../images/3.png") -229px -368px;
					}
					.footerc{
					    margin:0 auto;
					    width:1000px;
						height:182px;
						margin-top:31px;
					}
					.ftca{
					    margin:0 auto;
					    width:1000px;
						height:22px;
						margin-bottom:20px;
						margin-left:10px;
					}
					.ftca a{
					    font-size:12px;
					    height:22px;
						padding-right:70px;
						text-decoration:none;
						color: #000;
					}
					.ftcb{
					    margin:0 auto;
					    width:838px;
						font-size:12px;
						margin-bottom:20px;
					}
					.ftce{
					    margin:0 auto;
					    width:780px;
						font-size:12px;
						margin-bottom:20px;
					}
					.ftcd{
					    width:1000px;
						height:46px;
						margin-bottom:20px;
						padding:10px 0 20px 0;
					}
					    .ftcda{
						    width:110px;
							height:36px;
							background:url("../images/81.jpg") no-repeat;
							float:left;
							margin-right:20px;
							margin-left:175px;
						}
						.ftcdb{
						    width:110px;
							height:36px;
							background:url("../images/82.png") no-repeat;
							float:left;
							margin-right:20px;
						}
						.ftcdc{
						    width:110px;
							height:36px;
							background:url("../images/83.png")  no-repeat;
							float:left;
							margin-right:20px;
						}
						.ftcdd{
						    width:110px;
							height:36px;
							background:url("../images/3.png") -194px -277px;
							float:left;
							margin-right:20px;
						}
						.ftcde{
						    width:110px;
							height:36px;
							background:url("../images/3.png") -194px -315px;
							float:left;
						}
						
					